h1 {
  text-transform: uppercase;
  text-shadow: red 4px 3px 5px;
  font-size: 75px;
}
aside {
  vertical-align: center;
}
table {
  margin: 0px;
}

.center {
    margin-left:auto; 
    margin-right:auto;
  }
  
  th, td{
    color: black;
  }
  .bluebg{
    background-color: #006;
    color:white;
  }
  .darkbluebg{
    background-color: #003;
    color:white;
  }
  .borderbottom{
    border-bottom: solid 3px red;
  }