<table class="table center">
    <tbody>
        <tr class="darkbluebg">
            <td><input type="text" width="200px"/><input type="button" value="Search"/></td>
        </tr>
        <tr class="bluebg borderbottom">
            <th>
            <div class="container-fluid">
                <div class="row">
            <aside class="fixed m-1">
                <img src="../../assets/images/logo.gif" height="100px">
            </aside> 
            <section class="col text-center m-1 bluebg">
                <h1>AFL STATS</h1>
                <!--CSE2ICE-->
            </section>
            <aside class="fixed m-1 bluebg">
                Account name<br/>
                Manage account<br/>
                Log out
            </aside>
            </div>
            </div>
            </th>
        </tr>
    </tbody>
</table>


