<h2>Head to Head</h2>
View head to head results between teams<br>
<!-- Select box to select a team -->
<select [(ngModel)] = "selectedTeam1" (change)="onSelectFteam(selectedTeam1)">
    <!-- default option to deselect a team -->
    <option (click)="unselectFteam()">-</option>
    <!-- loop though teams and populate the select options-->
    <option *ngFor="let team of teamInfo" [ngValue]="team">
        {{team.name}}
    </option>
</select>
VS
<!-- Select box to select a team -->
<select [(ngModel)] = "selectedTeam2" (change)="onSelectSteam(selectedTeam2)">
    <!-- default option to deselect a team -->
    <option (click)="unselectSteam()">-</option>
    <!-- loop though teams and populate the select options-->
    <option *ngFor="let team2 of teamInfo" [ngValue]="team2">
        {{team2.name}}
    </option>
</select>
<br/>
<br/>
<!-- Display the head to head child if both teams have been selected and parse required objects -->
<app-headtoheadchild *ngIf="has1BeenSelected == true && has2BeenSelected == true" [rounds]="headToHeadGames" [teamInfo]="teamInfo"></app-headtoheadchild>
