body {
	font-family: frizquadata-bold;
}

h2 {
	font-size: 69px;
}

table {
	border: solid 1px #eee;
}

th {
	bacground-color: #999;
	border-bottom: solid 2px red;
}
tr:nth-child(odd) {
	background-color: #eee;
}


.center {
    margin-left:auto; 
    margin-right:auto;
    width: 60%;
}

.bluebg{
    background-color: #006;
    color:white;
  }