<h2>Results</h2>
Results for Round: 
<!-- Select box to choose a round to display -->
<select [(ngModel)] = "selectedRound" (change)="getRound(selectedRound)">
    <!-- loop through rounds available to populate the select box -->
    <ng-container *ngFor="let roundNo of rounds" >
        <!-- populate the select options with round numbers and allow selection of round-->
        <option [ngValue]="roundNo">
            {{roundNo}}
        </option>
    </ng-container>
</select>
<br/>
<br/>
<!-- apply bootstraps table responsive to tables within-->
<div class="table-responsive">
    <!-- Results table -->
    <table class="table center">
    <tbody>
        <!-- round number -->
        <tr>
            <th colspan="7" class="bluebg">Round: {{round[0].round}}</th>
        </tr>
        <!-- round results -->
        <tr *ngFor="let rnd of round">
            <td class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(rnd.hteam)}}"/></td>
            <td>{{rnd.hteam}}</td>
            <td>{{rnd.hgoals}}.{{rnd.hbehinds}} ({{rnd.hscore}})</td>
            <td>VS</td>
            <td>{{rnd.agoals}}.{{rnd.abehinds}} ({{rnd.ascore}})</td>
            <td>{{rnd.ateam}}</td>
            <td class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(rnd.ateam)}}"/></td>
        </tr>
    </tbody>
</table>
</div>
