<!-- Hidden until the team object exists -->
<div *ngIf="team">
    <br>
    <!-- Apply table responsive to tables within -->
    <div class="table-responsive">
        <!-- Main team stats table-->
        <table class="table center">
            <!-- Team name and logo -->
            <tr>
                <th  rowspan="3" class="cen"><img height="150" src="https://squiggle.com.au{{logo}}"/></th>
                <th colspan="7">{{team.name}}</th>
                <th>Rank:{{team.rank}}</th>
            </tr>
            <!-- Table headings -->
            <tr>
                <th>Played</th>
                <th>Pts</th>
                <th>Pct</th>
                <th>wins</th>
                <th>Losses</th>
                <th>Draws</th>
                <th>For</th>
                <th>Against</th>
            </tr>
            <!-- Team stats-->
            <tr>
                <td class="cen">{{team.played}}</td>
                <td class="cen">{{team.pts}}</td>
                <td class="cen">{{team.percentage | number:'1.2-2'}}</td>
                <td class="cen">{{team.wins}}</td>
                <td class="cen">{{team.losses}}</td>
                <td class="cen">{{team.draws}}</td>
                <td class="cen">{{team.ptsfor}}</td>
                <td class="cen">{{team.ptsagainst}}</td>
            </tr>
            <tr>
                <th></th>
                <th>Win/loss</th>
                <th>Goals</th>
                <th>Behinds</th>
                <th>% Goals</th>
                <th>% Behinds</th>                
                <th colspan="3"></th>
            </tr>
            <tr>
                <td></td>
                <td class="cen">{{team.wins / team.losses | number:'1.2-2'}}</td>
                <td class="cen">{{team.goalsfor}}</td>
                <td class="cen">{{team.behindsfor}}</td>
                <td class="cen">{{(team.goalsfor / (team.goalsfor + team.behindsfor)) * 100 | number:'1.2-2'}}</td>
                <td class="cen">{{(team.behindsfor / (team.goalsfor + team.behindsfor)) * 100 | number:'1.2-2'}}</td>
                <td colspan="3"></td>
            </tr>
        </table>

        <br/>
    
        <!-- Venues won and lost at table -->
        <table class="table center">
            <tr><td>
                    <!-- Venues won at table -->
                    <table class="table">
                        <tr>
                            <th colspan="7" style="text-align: center;">Venues Won At</th>
                        </tr>
                        <!-- Table headings -->
                        <tr>
                            <th style="text-align: center;">Round</th>
                            <th style="text-align: center;">Venue</th>
                        </tr>
                        <!-- loop through venueswon -->
                        <ng-container *ngFor= "let rnd of venuesWon">
                            <!-- information for venue won at -->
                            <tr>
                                <td>{{rnd.round}}</td>
                                <td>{{rnd.venue}}</td>
                            </tr>
                        </ng-container>
                    </table>

            </td><td colspan="2"></td><td>
                <!-- Venues lost at table -->
                <table class="table">
                    <tr>
                        <th colspan="7" style="text-align: center;">Venues Lost At</th>
                    </tr>
                    <!-- Table headings-->
                    <tr>
                        <th style="text-align: center;">Round</th>
                        <th style="text-align: center;">Venue</th>
                    </tr>
                    <!-- loop through venueslost -->
                    <ng-container *ngFor= "let rnd of venuesLost">
                        <!-- information for venue lost at-->
                        <tr>
                            <td>{{rnd.round}}</td>
                            <td>{{rnd.venue}}</td>
                        </tr>
                    </ng-container>
                </table>

            </td></tr>
        </table>
</div>