<!-- apply bootstraps table responsive to tables within -->
<div class="table-responsive">
    <!-- Head to head table -->
    <table class="table center">
        <tbody>
            <!-- Team 1 logo and headings -->
            <tr>
                <th id="team1logo" rowspan="2"><img height="80" src="https://squiggle.com.au{{getTeamLogo(team1Name)}}"/></th>            
                <th colspan="2">Goals</th>
                <th colspan="2">Behinds</th>
                <th colspan="2">Score</th>
                <th></th>
                <th></th>            
            </tr>
            <!-- Team 1 stats -->
            <tr>            
                <td colspan="2" class="cen">{{team1Goals}}</td>
                <td colspan="2" class="cen">{{team1Behinds}}</td>
                <td colspan="2" class="cen">{{team1Score}}</td>
                <td colspan="2"></td>
            </tr>        
            <!-- Wins for both teams-->
            <tr>            
                <th class="cen" colspan="2">{{team1Name}}: {{team1Wins}}</th>
                <th colspan="2"></th>
                <th></th>
                <th colspan="2"></th>
                <th class="cen" colspan="2">{{team2Name}}: {{team2Wins}}</th>     
            </tr>        
            <!-- Team 2 logo and headings-->
            <tr>
                <th></th> 
                <th colspan="2">Goals</th>
                <th colspan="2">Behinds</th>
                <th colspan="2">Score</th>
                <th></th>
                <th id="team2logo" rowspan="2" class="alignBot"><img height="80" src="https://squiggle.com.au{{getTeamLogo(team2Name)}}"/></th>            
            </tr>
            <!-- Team 2 stats -->
            <tr>
                <td></td>            
                <td colspan="2" class="cen">{{team2Goals}}</td>
                <td colspan="2" class="cen">{{team2Behinds}}</td>
                <td colspan="2" class="cen">{{team2Score}}</td>
                <td></td>     
            </tr>
            <!-- Result headings -->
            <tr><td colspan="9"><br/><br/></td></tr>
            <tr *ngIf="rounds[0].complete == 100">
                <th colspan="3">Round</th>
                <th colspan="3">Venue</th>
                <th colspan="3">Winner</th>            
            </tr>
            <!-- Loop through round results and display -->
            <ng-container *ngFor= "let rnd of rounds">   
                <!-- only display completed rounds -->
                <tr *ngIf="rnd.complete == 100">
                    <td colspan="3" class="cen">{{rnd.round}}</td>
                    <td colspan="3" class="cen">{{rnd.venue}}</td>
                    <td colspan="3" class="cen">{{rnd.winner}}</td>
                </tr>
            </ng-container>       
        </tbody>
    </table>
</div>