table {
	border: solid 1px #eee;
}

th {
	background-color: #eee;
}

.leftAlign{
    text-align:left;
}

.cenAlign{
    vertical-align: middle;
}


.center {
    margin-left:auto; 
    margin-right:auto;
    width:800px;
}

.alignBot{
      vertical-align: bottom;
}

#team1logo, #team2logo {
  width: 250px;
  background-color: white;
  border: solid 1px #666;
}