<div class="table-responsive">
    <!-- Table containing round information -->
    <table class="table center">
        <tbody>
            <!-- display if showing all teams -->

                <!-- loop through rounds-->

                    <!-- Round number -->
                    
                    <!-- Table headings-->
                    <tr class="bg-light"><th colspan="2">Home</th><th></th><th colspan="2">Away</th><th>Venue</th><th>Source</th><th>Tip</th><th>Confidence</th></tr>
                    <!-- Round information -->
                    <tr *ngFor="let tip of tips">
                        <td class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(tip.hteam)}}"/></td>
                        <td class="cen">{{tip.hteam}}</td>
                        <td class="cen">vs</td>
                        <td class="cen">{{tip.ateam}}</td>
                        <td class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(tip.ateam)}}"/></td>
                        <td class="cen">{{tip.venue}}</td>
                        <td class="cen">{{tip.source}}</td>
                        <td class="cen">{{tip.tip}}</td>
                        <td class="cen">{{tip.confidence}}</td>
                    </tr>
                    <tr><td colspan="9"></td></tr>
  

        </tbody>
    </table>
</div>
