h2 {
	font-size: 69px;
}

table {
	border: solid 1px #eee;
}

th {
	background-color: #ccc;
	border-bottom: solid 2px black;
}
tr:nth-child(odd) {
	background-color: #eee;
}

tr:nth-child(9) {
	border-bottom: solid 2px #666;
}

.center {
    margin-left:auto; 
    margin-right:auto;
    width: auto;
}