<h2>Ladder</h2>
<br/>
<!-- apply bootstraps table responsive to tables within -->
<div class="table-responsive">
   <!-- Ladder table -->
   <table class="table center">
      <tbody>
         <!-- table headings-->
         <tr><th>Position</th><th colspan="2">Club</th><th>Played</th><th>Points</th><th>%</th><th>W</th><th>L</th><th>D</th><th>PF</th><th>PA</th><th></th></tr>
         <!-- Loop through ladder and display Ladder information -->
         <tr *ngFor="let ladder of ladderInfo">  
            <td class="cen">{{ladder.rank}}</td>
            <td class="cen"><img height="40" src="https://squiggle.com.au{{getTeamLogo(ladder.id)}}"/></td>
            <td>{{ladder.name}}</td>
            <td class="cen">{{ladder.played}}</td>
            <td class="cen">{{ladder.pts}}</td>
            <td class="cen">{{ladder.percentage | number:'1.2-2'}}</td>
            <td class="cen">{{ladder.wins}}</td>
            <td class="cen">{{ladder.losses}}</td>
            <td class="cen">{{ladder.draws}}</td>
            <td class="cen">{{ladder.ptsfor}}</td>
            <td class="cen">{{ladder.ptsagainst}}</td>
            <td></td>
         </tr>   
      </tbody>
   </table>
</div>