aside {
	width: auto;
}

caption {
	caption-side: top;
  	display: table-caption;
  	text-align: center;
  	color: #003;
  	font-family: frizquadata-bold;
	font-variant: small-caps;
	font-size: 30px;
}

table {
	margin-right: 20px;
	background-color: white;	
}

th, td {
	padding: 10px;

}


td:nth-child(odd) {
	background-color: #eee;

}

tr:nth-child(9) {
	border-bottom: solid 2px #666;
}

th {
	border-bottom: solid 2px black;
}