<aside>
   <table class="sideTable table-responsive">
     <caption>Ladder</caption>
       <tbody>
       <tr><th>Pos</th><th>Club</th><th>Pts</th></tr>
       <tr *ngFor="let ladder of ladderInfo">    
          <td class="cen">{{ladder.rank}}</td>
          <td class="teamSName"><img height="25" src="https://squiggle.com.au{{getTeamLogo(ladder.id)}}"/></td>
          <td class="cen">{{ladder.pts}}</td>     
       <tr>
          
       </tbody>
       </table>
       </aside>
