<h2>Tips</h2>
<h5>Round {{currentRound}}</h5>
<select [(ngModel)]="selectedTeam" (change)="onSelect(selectedTeam)">
    <!-- default option to unselect a team -->
    <option (click)="unselect()">-</option>
    <!-- populate options by looping through teams and select team when clicked-->
    <option *ngFor="let team of teamInfo" [ngValue]="team">
        {{team.name}}
    </option>
</select>
<br/>
<br/>
<app-tipschild *ngIf="selected == true" [teamInfo]="teamInfo" [tips]="tips"></app-tipschild>