<h2>Results</h2>
Results for Team: 
<!-- Select box to choose a round to display -->
<select [(ngModel)]="selectedTeam1" (change)="onSelect(selectedTeam1)">
    <!-- default option to unselect a team -->
    <option (click)="unselect()">-</option>
    <!-- populate options by looping through teams and select team when clicked-->
    <option *ngFor="let team of ladderInfo" [ngValue]="team">
        {{team.name}}
    </option>
</select>
<br/>
<br/>

<!-- Display team child and parse required objects if a team has been selected -->
<app-resultsbyteamchild *ngIf="hasBeenSelected == true" [team]="selectedTeam" [logo]="getTeamLogo(selectedTeam.id)" [round]="rounds" [ladder]="ladderInfo"></app-resultsbyteamchild>