<h2>Teams</h2>
View team stats for: 
<!-- Select box with team names -->    
<select [(ngModel)]="selectedTeam" (change)="onSelect(selectedTeam)">
    <!-- default option to unselect a team -->
    <option>-</option>
    <!-- populate options by looping through teams and select team when clicked-->
    <option *ngFor="let team of ladderInfo" [ngValue]="team">
        {{team.name}}
    </option>
</select>
<br/>
<br/>
<!-- Display team child and parse required objects if a team has been selected -->
<app-teamchild *ngIf="hasBeenSelected == true" [team]="selectedTeam" [logo]="getTeamLogo(selectedTeam.id)" [venuesWon]="teamWonRounds" [venuesLost]="teamLostRounds"> </app-teamchild>
