aside {
  /*margin-top: 20px;*/
  width: 200px;
  padding-left: 10px;
  text-align: left;
  
}


h4 {
  text-align: left;
  color: #003;
  font-family: frizquadata-bold;
  font-variant: small-caps;
  font-size: 30px;
} 

a {
  color: #006;
}

.sidelink {
  text-transform: uppercase;
}

.sublink {
  text-transform: none;
}


/* Style the navigation menu */
.topnav {
  z-index: 10;
  visibility: hidden;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0px;
  left: 0px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  display: block;
  background-color: #003;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #003;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #003;
  color: white;
}

/* Makes the mobile hamburger menu visible when screen is small enough */
@media (max-width: 1000px) {
  .topnav { visibility: visible; }
  .sidenav { display: none; }
}