<!-- Side Navigation Menu -->
<aside>
  <nav class="sidenav">
      <h4>Links</h4>
      <a class="sidelink" routerLink="/ladder">Ladder</a><br>
      <a class="sidelink" (click)="toggleSelect()" href="#" onclick="return false;">Teams</a><br>
      <!-- Team Stats and Head to Head hidden by default -->
      <ng-container *ngIf="menuSelect == true">
      <a class="sublink" *ngIf="menuSelect == true" routerLink="/teams">- Team Stats</a><br>
      <a class="sublink" *ngIf="menuSelect == true" routerLink="/headtohead">- Head to Head</a><br>
      </ng-container>
      <a class="sidelink" routerLink="/rounds">Fixtures</a><br>
      <a class="sidelink" routerLink="/results">Results</a><br>
      <a class="sidelink" routerLink="/resultsbyteam">Results by Team</a><br>
      <a class="sidelink" routerLink="/tips">Tips</a>
  </nav>
</aside>

<!-- Top Navigation Menu -->
<nav class="topnav">
  <a routerLink="/" class="active">Home</a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
      <a routerLink="/ladder">Ladder</a>
      <a routerLink="/teams">Team Stats</a>
      <a routerLink="/headtohead">Head to Head</a>
      <a routerLink="/rounds">Fixtures</a>
      <a routerLink="/results">Results</a>
      <a routerLink="/resultsbyteam">Results by Team</a>
      <a routerLink="/tips">Tips</a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" (click)="hamburgerMenu()">
    <i class="fa fa-bars"></i>
  </a>
</nav>