<!-- Hidden until the team object exists -->
<div *ngIf="team">
    
    <ng-container *ngFor="let rnd of round" ><ng-container *ngIf="rnd.round <= 19 && (rnd.hteam == team.name || rnd.ateam == team.name)">
        <div class="table-responsive">
            <table class="table center">
                <tbody>
                    <!-- round number -->
                    <tr>                    
                        <th colspan="7" class="bluebg">Round {{rnd.round}}</th>
                    </tr>
                    <tr>
                        <td width="25px" class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(rnd.hteam)}}"/></td>
                        <td width="150px">{{rnd.hteam}}</td>
                        <td width="100px">{{rnd.hgoals}}.{{rnd.hbehinds}} ({{rnd.hscore}})</td>
                        <td>VS</td>
                        <td width="100px">{{rnd.agoals}}.{{rnd.abehinds}} ({{rnd.ascore}})</td>
                        <td width="150px">{{rnd.ateam}}</td>
                        <td width="25px" class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(rnd.ateam)}}"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </ng-container></ng-container>

</div>