<h2>Fixtures</h2>
<!-- Option to show all rounds -->
<a (click)="setByAll()" href="#" onclick="return false;">All</a>&nbsp;-&nbsp;
<!-- Option to filter rounds by team -->
<a (click)="setByTeam()" href="#" onclick="return false;">By Team</a>
<br/>
<!-- Display if filtering by team -->
<ng-container *ngIf="byTeam == true">
    <!-- Select box with team names -->
    <select [(ngModel)] = "selectedTeam" (change)="getByTeam(selectedTeam)"> 
        <!-- Loop through the teams -->
        <ng-container *ngFor="let team of teamInfo" >
            <!-- Populate select options with the team names, allow a team to be selected-->
            <option ([ngValue])="team.name">
                {{team.name}}
            </option>
        </ng-container>
    </select>
<br/>
</ng-container>
<!-- Display if showing all rounds -->
<ng-container *ngIf="byTeam == false">
Number of rounds to view:
<!-- Select box to select how many rounds to view -->
<select [(ngModel)]="roundNumbers" (change)="initRounds(roundNumbers)">
    <!-- loop through the remaining rounds of the season -->
    <ng-container *ngFor="let rndNo of remainingRounds" >
        <!-- Populate the select options with round numbers and allow selection of a round-->
        <option [ngValue]="rndNo">
            {{rndNo}}
        </option>
    </ng-container>
</select>
</ng-container>
<br/>
<br/>
<!-- apply bootstraps table responsive to tables within-->
<!-- apply bootstraps table responsive to tables within-->
<div class="table-responsive">
    <!-- Table containing round information -->
    <table class="table center">
        <tbody>
            <!-- display if showing all teams -->
            <ng-container *ngIf="byTeam == false">
                <!-- loop through rounds-->
                <ng-container *ngFor= "let rnd of rounds">
                    <!-- Round number -->
                    <tr class="round"><th colspan="7" class="bluebg text-white">Round: {{rnd[0].round}}</th></tr>
                    <!-- Table headings-->
                    <tr class="bg-light"><th colspan="2">Home</th><th></th><th colspan="2">Away</th><th>Date&Time</th><th>Venue</th></tr>
                    <!-- Round information -->
                    <tr *ngFor="let currRound of rnd">
                        <td class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(currRound.hteam)}}"/></td>
                        <td class="cen">{{currRound.hteam}}</td>
                        <td class="cen">vs</td>
                        <td class="cen">{{currRound.ateam}}</td>
                        <td class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(currRound.ateam)}}"/></td>
                        <td class="cen">{{currRound.date}}</td>
                        <td class="cen">{{currRound.venue}}</td>
                    </tr>
                    <tr><td colspan="7"></td></tr>
                </ng-container>
            </ng-container>
            <!-- display if filtering by teams -->
            <ng-container *ngIf="byTeam == true && roundsByTeam">        
                <!-- Table headings-->
                <tr class="bg-light"><th>Round</th><th colspan="2">Home</th><th></th><th colspan="2">Away</th><th>Date&Time</th><th>Venue</th></tr>
                <!-- Loop through rounds by team and display information-->
                <tr *ngFor="let currRound of roundsByTeam">
                    <td class="cen">{{currRound.round}}</td>
                    <td class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(currRound.hteam)}}"/></td>
                    <td class="cen">{{currRound.hteam}}</td>
                    <td class="cen">vs</td>
                    <td class="cen">{{currRound.ateam}}</td>
                    <td class="cen"><img height="20" src="https://squiggle.com.au{{getTeamLogo(currRound.ateam)}}"/></td>
                    <td class="cen">{{currRound.date}}</td>
                    <td class="cen">{{currRound.venue}}</td>
                </tr>
                <tr><td colspan="7"></td></tr>
            </ng-container>
       
    </tbody>
    </table>
</div>